

.nav-menu-item {
    border: 1px solid grey;
    box-shadow: 3px 3px 5px rgb(65, 65, 65);
    border-radius: 5px;
    margin-bottom: 1vh;
    padding: 0.5vh;
}
.nav-menu-item-active {
    border: 1px solid grey;
    box-shadow: 3px 3px 5px rgb(103, 102, 102);
    background-color: rgb(59, 59, 59);
    border-radius: 5px;
    margin-bottom: 1vh;
    padding: 0.5vh;
}
.nav-menu-item:hover {
    cursor: pointer;
    transform: scale(1.01);
    background-color: rgb(59, 59, 59);
}



/* Sub menu  */

.nav-sub-item {
    margin-left: 3vw;
    margin-top: 0.5vw;
}